In [1]:
def square(num):
    return num**2

In [2]:
square(2)

4

In [4]:
mynums = [0,1,2,3]
for sq in map(square,mynums):
    print(sq)

0
1
4
9

In [5]:
list(map(square,mynums))

[0, 1, 4, 9]

In [6]:
def splicer(mystr):
    if len(mystr) % 2 == 0:
        return 'even'
    else:
        return mystr[0]

In [10]:
str = ['andy','eve','Sally','sajesh']
list(map(splicer,str))

['even', 'e', 'S', 'even']

In [11]:
def isEven(num):
    return num % 2 == 0

In [12]:
isEven(3)

False

In [16]:
mylist = [0,1,2,3,4,5,6]
for nu in filter(isEven,mylist):
    print(nu)

0
2
4
6

In [17]:
list(filter(isEven,mylist))

[0, 2, 4, 6]

In [18]:
def square(num):
    return num ** 2

In [19]:
def square(num): return num ** 2

In [20]:
lambda num: num ** 2

In [21]:
mylist = [0,1,2,3]
list(map(lambda num : num **2,mylist))

[0, 1, 4, 9]

In [23]:
mylist = [0,1,2,3,4,5,6]
list(filter(lambda num : num % 2 ==0,mylist))

[0, 2, 4, 6]

In [24]:
mylist = ['Andy','eve','sally']
list(map(lambda x: x[0],mylist))

['A', 'e', 's']

In [26]:
mylist = ['Andy','eve','sally']
list(map(lambda x: len(x) % 2 == 0: 'even',x[0],mylist))

SyntaxError: invalid syntax (1193614606.py, line 2)

In [27]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [28]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [31]:
num =2
inta = (lambda x: x + 1)(num)
inta

3

In [33]:
num =2
inta = map(lambda x: x + 1,num)
inta

TypeError: 'int' object is not iterable

In [1]:
x =[1,2,3,4,5,6,7,8]
even = list(filter(lambda n:n%2 ==0,x))

In [2]:
even

[2, 4, 6, 8]